// Default mixins and settings -----------------
@import "../../bower_components/reveal.js/css/theme/template/mixins";
@import "../../bower_components/reveal.js/css/theme/template/settings";
// ---------------------------------------------

// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700);
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:300);

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: #333;
$headingFont: 'Roboto Condensed', sans-serif;
$headingColor: $mainColor;
$headingFontWeight: 300;
// $headingLetterSpacing: -0.08em;
$headingTextTransform: uppercase;
$headingTextShadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
$heading1TextShadow: $headingTextShadow;
$backgroundColor: #f7fbfc;
$linkColor: #3b759e;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: #134674;

// Fix links so they are not cut off
.reveal a {
  line-height: 1.3em;
}

// Background generator
@mixin bodyBackground() {
  @include radial-gradient( #add9e4, #f7fbfc );
}

// Theme template ------------------------------
@import "../../bower_components/reveal.js/css/theme/template/theme";
// ---------------------------------------------

.reveal {
  // Images may not have edges.
  section img {
    padding: 1em;
    background: rgba(0, 0, 0, 0.05);
    border: none;
    border-radius: 0.25em;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.5);
  }

  // Headings against a background image
  section[data-background-image] {
    h1, h2, h3, h4, h5, h6 {
      color: white;
      text-shadow: 0 0 10px black;
    }
  }
}
